@import "tailwindcss";

:root{

/********* Tipografia ************/
  --font-family: 'Poppins', sans-serif;
  --font-family-alt: 'inter', sans-serif;
  --font-size-title: 32px;
  --font-size-subtitle: 24px;
  --font-size-text: 16px;
  --font-size-small: 14px;

/********* Cores ************/
  --color-purple-primary:#6D4CFF;
  --color-purple-primary-600:#5B3BE6;
  --color-green-apoio: #2ECC71;
  --color-yellow-apoio:#FFC857;
  --color-neutral-navy:#0B2545;
  --color-neutral-muted: #6B7280;
  --color-neutral-bg: #F5F7FB;
  --color-neutral-white:#FFFFFF;
  --color-feedback-bronze:#D9A066;
  --color-feedback-silver:#C0C7D1;
  --color-feedback-gold:#FFC857;
  --color-darkmode-bg:#0F1724;
  --color-darkmode-surface:#0B1220;
  --color-darkmode-text:#E6EEF8;
  --color-turma-one:#473198;
  --color-turma-two:#A5CC6B;
  --color-turma-three:#34E4EA;
  --color-turma-four:#FF6B6C;
  --color-turma-five:#D0A5C0;
}
